* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body {
    background-color: #f8f9fa;
    display: flex;
    justify-content: center;
    padding: 20px;
}

.container {
    width: 100%;
    max-width: 400px;
    text-align: center;
}

.logo {
    width: 120px;
    height: auto;
    margin-bottom: 10px;
}

h1 {
    color: #001f3f; /* Azul Marinho */
    font-size: 1.4rem;
    margin-bottom: 5px;
}

header p {
    color: #555;
    font-size: 0.9rem;
    margin-bottom: 25px;
}

.avisos {
    background-color: #001f3f;
    color: white;
    padding: 20px;
    border-radius: 15px;
    margin-bottom: 25px;
    border-bottom: 5px solid #FFD700; /* Amarelo */
}

.grade-horarios {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 10px;
}

.dia strong {
    display: block;
    color: #FFD700;
    font-size: 0.8rem;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.dia span {
    font-size: 0.95rem;
}

.links {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.btn {
    text-decoration: none;
    padding: 18px;
    border-radius: 10px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    transition: 0.3s;
}

.principal {
    background-color: #FFD700;
    color: #001f3f;
}

.divisor {
    margin: 30px 0 15px;
    font-size: 0.8rem;
    color: #001f3f;
    font-weight: bold;
    border-bottom: 1px solid #ddd;
    line-height: 0.1em;
}

.divisor span {
    background: #f8f9fa;
    padding: 0 15px;
}

/* Estilo para as fotos dos pastores */
.pastores-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
}

.card-pastor {
    text-decoration: none;
    background: white;
    padding: 15px;
    border-radius: 12px;
    border: 1px solid #eee;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: 0.3s;
}

.card-pastor img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 10px;
    border: 2px solid #001f3f;
}

.card-pastor span {
    color: #001f3f;
    font-size: 0.85rem;
    font-weight: bold;
}

.card-pastor:hover {
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}

footer {
    margin-top: 40px;
    padding-bottom: 20px;
    font-size: 0.75rem;
    color: #888;
}
.btn:hover {
    transform: scale(1.02);
}
.btn:active {
    transform: scale(0.96); /* Faz o botão diminuir levemente ao clicar */
    transition: 0.1s;       /* Deixa o clique mais rápido e realista */
}
